<%= simple_form_for [chatroom, message], remote: true do |f| %>
  <%= f.text_area :content, class: "form-control text-center message-input", placeholder: 'Type something here',data: {textarea: "message"} %>
  <%= f.input :audio, as: :hidden %>
  <%= f.input :audio_cache, as: :hidden %>

  <!-- Button send -->
  <div class="position-absolute display-none" style="top: -19px; right: -55px;" id="send-btn">
    <div class="position-relative" style="width: 146px; height: 146px;">
      <div class="button-purple-dark-round-small position-absolute"></div>
      <%= image_tag 'send-icon.png', width: 18, height: 18, class: 'position-absolute icon-send-small-center' %>
    </div>
  </div>
  <%= f.submit "send", class: "btn btn-primary", style: "display: none", data: {send: "message"}, id: "submit-text" %>
<% end %>

