<h3><%= @chatroom.name %></h3>

<p><%=@active_alert.content %> / Solved <%= @active_alert.status %></p>
  <%= link_to  "Mark as done",  alert_alert_solvers_path(@active_alert), method: :post %>

<%= render 'alerts/form', chatroom: @chatroom, alert: @alert %>


<ul>
  <% @messages.each do |message| %>
    <li>
      Username: <%= message.user.first_name %>
      <%= render 'messages/message', message: message %>
    </li>
  <% end %>
</ul>

<br>
<%= render 'messages/form', chatroom: @chatroom, message: @message %>
<br>
<br>

<% @current_user_chatrooms.each do |user| %>
  <%= user.name %>
<% end %>




