<% if user_signed_in? %>
  <div class="sidebar-collapse" id="sidebar">
  <div class="container">
    <div class="row">
      <div class="text-center">
         <%= image_tag 'talkeri-icon.png', width: 30, height: 35, class:"margin-large position-absolute", id:"logo-closing" %>
      </div>
      <br>
      <div class="col-xs-3" >
        <%= cl_image_tag current_user.photo, class: "avatar-very-small position-absolute"%>
        <div class="text-center">
          <%= current_user.full_name %>
        </div>
      </div>
    </div>

    <h3>EVENTS</h3>
    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle link-text-decoration-none">My Events</a>
      <ul class="collapse list-unstyled link-text-decoration-none" id="homeSubmenu">
        <% current_user.events.each do |event| %>
          <li>
            <a href="#homeSubSubmenuEvent_<%= event.id %>" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><%= event.name %></a>
              <ul class="collapse list-unstyled" id="homeSubSubmenuEvent_<%= event.id %>">
                <% event.chatrooms.each do |chatroom| %>
                  <% if chatroom.users.include?(current_user) %>
                    <li>
                      <%= link_to "#{chatroom.name}", chatroom_path(chatroom) %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
          </li>
        <% end %>
      </ul>

    <h3>SERVICES</h3>
    <div class="container font-size-regular font-weight-medium">
      <p>My staff</p>
      <p>My setting</p>
    </div>

    <h3>DIRECT CHANNELS</h3>
      </div>
  </div>
<% end %>
