<% if user_signed_in? %>
  <div class="sidebar-collapse" id="sidebar">
    <div class="container">
      <div class="row">
        <br>
        <div class="col-xs-12" style="border-bottom: 0.5px solid lightgrey" >
          <%= cl_image_tag current_user.photo, class: "avatar-small position-absolute"%>
          <div class="text-center" style='margin-left: 26px;  margin-top: 6px; margin-bottom: 17px; color: black;'>
            <%= current_user.full_name %>
          </div>
        </div>
      </div>
      <div>
        <% current_user.events_as_participant.each do |event| %>
          <h4 class="name-h4 text-center" style="margin-top: 15px; margin-bottom: 25px; color: #724cf9;"><i class="logo far fa-calendar-alt"></i><%= event.name.upcase %></h4>
          <div class="content-sidebar">
            <h4 class="name-h4" style="margin-top: 15px; margin-bottom: 20px;">SERVICES</h4>
            <div style="padding-left: 16px;">
              <h5 class="inside-content"><i class="logo far fa-user"></i> My staff</h5>
              <h5 class="inside-content"><i class="logo fas fa-wrench"></i> Settings</h5>
            </div>

            <h4 class="name-h4" style="margin-top: 25px;">CHANNELS</h4>
            <div class="main-channels">
              <%= render 'chatrooms/channel_list', event: event, user: current_user %>
            </div>

            <h4 class="name-h4" style="margin-top: 25px;">PRIVATE CHANNELS</h4>

            <div class="private-channels">
              <%= render 'chatrooms/private_list', event: event, user: current_user %>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
