<% if user_signed_in? %>
  <div class="sidebar-collapse" id="sidebar">
    <div class="container">
      <div class="row">
        <br>
        <div class="col-xs-12" style="border-bottom: 0.5px solid lightgrey" >
          <%= cl_image_tag current_user.photo, class: "avatar-small position-absolute"%>
          <div class="text-center" style='margin-left: 26px;  margin-top: 6px; margin-bottom: 17px; color: black;'>
            <%= current_user.full_name %>
          </div>
        </div>
      </div>
      <div>
        <% current_user.events_as_participant.each do |event| %>
          <h4 class="name-h4 text-center" style="margin-top: 15px; margin-bottom: 25px; color: #724cf9;"><i class="logo far fa-calendar-alt"></i><%= event.name.upcase %></h4>
          <div class="content-sidebar">
            <h4 class="name-h4" style="margin-top: 15px; margin-bottom: 20px;">SERVICES</h4>
            <div style="padding-left: 16px;">
              <h5 class="inside-content"><i class="logo far fa-user"></i> My staff</h5>
              <h5 class="inside-content"><i class="logo fas fa-wrench"></i> Settings</h5>
            </div>

            <h4 class="name-h4" style="margin-top: 25px;">CHANNELS</h4>
            <% event.chatrooms.where.not(name: nil).each do |chatroom| %>
              <div class="chatrooms-toggle">
                <h5 class="inside-content flexbox flexbox-align-center">
                  <%= link_to "##{chatroom.name}", chatroom_path(chatroom), { :class=>"chat-link" } %>
                  <% if Message.unread_by(current_user).where(chatroom: chatroom).count > 0%>
                    <div class="notification position-relative">
                      <p class="notif font-size-small white position-absolute"><%= Message.unread_by(current_user).where(chatroom: chatroom).count %></p>
                    </div>
                  <% end  %>
                </h5>
              </div>
            <% end %>

            <h4 class="name-h4" style="margin-top: 25px;">PRIVATE CHANNELS</h4>
            <% current_user.chatrooms.where(event: @chatroom.event, name: nil).each do |chatroom| %>
              <div class="chatrooms-toggle">
                <h5 class="inside-content flexbox flexbox-align-center">
                  <%= link_to "##{chatroom.users.select { |user| user.id != current_user.id }.first.first_name}", chatroom_path(chatroom), { :class=>"chat-link" } %>
                  <% if Message.unread_by(current_user).where(chatroom: chatroom).count > 0%>
                    <div class="notification position-relative">
                      <p class="notif font-size-small white position-absolute"><%= Message.unread_by(current_user).where(chatroom: chatroom).count %></p>
                    </div>
                  <% end  %>
                </h5>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
