<h1 class="text-center">Add an event</h1>
<div class="col-xs-offset-3 col-xs-6">
  <%= simple_form_for Event.new do |f| %>
    <%= f.input :name %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Add an event", class: "btn btn-primary" %>
     <button type="button" class="btn" data-dismiss="modal">Close</button>

  <% end %>
</div>

