<h1><%= @event.name %></h1>
<% @event.chatrooms.each do |chatroom| %>
  <ul>
    <li> <h4><%= chatroom.name.capitalize %></h4>
      <h5 style="font-weight: bold">Team Leaders</h5>
      <!-- TODO  move this to eventscontroller-->
      <% team_leaders = chatroom.users.map do |user|%>
        <% user if UserEvent.find_by(user: user, event: chatroom.event)&.responsability == "Team leader" %>
      <% end %>
      <% team_leaders.compact.each do |staff| %>
        <div><%= staff.full_name %></div>
      <% end %>
      <br>
      <h5 style="font-weight: bold">Staff</h5>
      <!-- TODO  move this to eventscontroller-->
      <% staff = chatroom.users.map do |user|%>
        <% user if UserEvent.find_by(user: user, event: chatroom.event)&.responsability == "Staff" %>
      <% end %>
      <% staff.compact.each do |staff| %>
        <div><%= staff.full_name %></div>
      <% end %>
    </li>
  </ul>
<% end %>

<h5>Members</h5>
<ul>
<% @event.users.each do |user| %>
  <li><%= user.full_name %> - <%= user.user_events.find_by(event: @event).responsability %></li>
<% end %>
</ul>
<h5>Add a member to <%= @event.name %></h5>

<%= simple_form_for [@event, @userevent] do |f| %>
  <%= f.association :user, :collection => @users, label_method: :full_name %>
  <%= f.input :responsability, collection: UserEvent::RESPONSABILITIES %>
  <%= f.submit "Add team member", class: "btn-primary" %>
<% end %>

<br>

<h5>Add a member to a chatroom</h5>

<%= simple_form_for [@event, @userchatroom] do |f| %>
  <%= f.association :user, :collection => @chatroomusers, label_method: :full_name %>
  <%= f.association :chatroom, collection: @event.chatrooms %>
  <%= f.submit "Add team member", class: "btn-primary" %>
<% end %>

<br>
<%= link_to "Add a new chatroom", new_event_chatroom_path(@event, @chatroom) if @event.user == current_user %>
<br>
<%= link_to "Back to your events", events_path %>
