<div id="wrapper-grey">

  <div class="margin-top-large margin-left-huge position-absolute">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <%= image_tag "logo.png"%>
    <% end %>
  </div>


  <div class="container flexbox flexbox-justify-center flexbox-align-center center-screen">
    <div class="card-login flexbox flexbox-column padding-huge margin-small">
      <h2 class="font-size-medium font-weight-medium font-family-title margin-top-small margin-bottom-small text-center">
        Your teams
      </h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <label class="font-size-normal font-weight-bold font-family-normal margin-bottom-normal" for="user_email">
            Your email
          </label>
          <%= f.input :email,
                      label: false,
                      required: false,
                      autofocus: true,
                      placeholder: 'user@domain.com',
                      input_html: { autocomplete: "email", class: "font-size-normal" } %>
          <label class="font-size-normal font-weight-bold font-family-normal margin-bottom-normal" for="user_password">
            Your password
          </label>
          <%= f.input :password,
                      label: false,
                      required: false,
                      input_html: { autocomplete: "current-password", class: "font-size-normal" } %>
          <div class="flexbox flexbox-align-center">
            <%= f.input :remember_me,
                        label: false,
                        as: :boolean if devise_mapping.rememberable? %>
            <label class="font-size-normal font-weight-bold font-family-normal margin-bottom-normal margin-left-small" for="user_password">
              Remember me
            </label>
          </div>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Sign in", class: "button-purple font-size-regular" %>
        </div>
      <% end %>
    </div>
    <div class="font-size-regular text-center margin-top-small link-text-decoration-none">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
